<header class="bg-success py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">O Melhor da Moda Fitness</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Tudo Para Voce Ficar Bem </p>
                </div>
            </div>
        </header>